<div>
    <p><%=user.firstname%></p>
    <p><%=user.lastname%></p>
    <p><%=user.displayName%></p>
    <p><%=user.login%></p>

</div>

<aside>
  <a href="/user/update/<%=user.id%>" class="glyphicon glyphicon-edit"></a>
  <div class="glyphicon glyphicon-remove-sign"></div>

</aside>
