<section class="list" class="control-group">
  <a href="/user/create" class="glyphicon glyphicon-plus btn_add" title="ajouter un utilisateur"></a>
  <%if (list && list.length > 0){%>
  <table>
    <thead>
    <tr>
      <th>
        Prénom
      </th>
      <th>
        Nom
      </th>
      <th>
        Pseudo
      </th>
      <th>
        Login
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>


    <% _.each(list, function(user) {%>

    <tr>

      <td><%=user.firstname%></td>
      <td><%=user.lastname%></td>
      <td><%=user.displayName%></td>
      <td><%=user.login%></td>
      <td>
        <a href="/user/detail/<%=+user.id%>" class="glyphicon glyphicon-eye-open" title="détail de l'utilisateur">

        </a>
      </td>
    </tr>

    <% }) %>

    </tbody>
  </table>

  <% }else{ %>

  <article>
    <p>Aucun utilisateur</p>

  </article>
   <%}%>


</section>
